<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diff Checker</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 class="page-name"><a href="/">Diff Checker</a></h1>
      </div>
      <div class="row">
        <div class="span8 offset2">
	  <form action="/confirm" method="post">
	    <div><label><h2>Website URL</h2></label>
	      <input type="text" name="url" placeholder="http://www.coolsite.com"></input>
	      <span class="help-block">Enter the URL for the website you want me to check!</span>
	    </div>
	    <div><label><h2>Phone Number</h2></label>
	      <input type="text" name="phone" placeholder="+11234567890"></input>
	      <span class="help-block">Enter your phone number! Don't forget your country code: +1 if you're from the USA, for example.</span>
	    </div>
	    <!--<textarea name="text" class="field span7" rows="15" placeholder="Type your message here."></textarea> <br>-->
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
