<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diff Checker</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 class="page-name"><a href="/">Diff Checker</a></h1>
      </div>
      <div class="row">
        <div class="span8 offset2">
	  <form class="form-horizontal" action="/confirm" method="post">
	    <div class="control-group">
	      <label class="control-label" for="url">Website URL</label>
	      <div class="controls">
		<input type="text" name="url" placeholder="http://www.coolsite.com"></input>
		<span class="help-block">Enter the URL for the website you want me to check!</span>
	      </div>
	    </div>
	    <div class="control-group">
	      <label class="control-label" for="phone">Phone Number</label>
	      <div class="controls">
		<input type="text" name="phone" placeholder="+11234567890"></input>
		<span class="help-block">Enter your phone number! Don't forget your country code: +1 if you're from the USA, for example.</span>
	      </div>
	    </div>
	    <div class="control-group">
	      <div class="controls">
		<button type="submit" class="btn btn-primary">Submit</button>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
